<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post">
     <%= link_to image_tag(post.image, size: '500x500'), post_path(post.id), method: :get %>
      <span class="name">
        <%= post.user.name %>
      </span>
    </div>
  <% end %>
</div>

